<html>
        <head>
                <title>Test</title>
        </head>
<body>
        <h1>Happy Birthday!</h1>

        <p>You're user agent is: <pre>{{ user_agent }}</pre> </p>
        
        {% if not is_python %}
            
            <p>try <em>requesting</em> this page with a popular module...</p>

        {% endif %}

        {% if is_python %}
        <pre>

@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@(((((((@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@(((((((((((((((((((((((((((((@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@((((((((((((((((((((((((((((((((((((@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@((((((@@@@@(((((((((((((((((((((((((((#@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@(((((@@@@@@@(((((((((((((((((((((((((((@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@(((((((@@@#((((((((((((((((((((((((((((@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@(((((((((((((((((((((((((((((((((((((((@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@(((((((((((((((((((((((((((((((((((((((@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@(((((((((((((((((((@@@@@@@@@@@@@@@@@@@@
@@@@@@@(((((((((((((((((((((((((((((((((((((((((((((((((((((@@@,,,,,,,,,,,,@@@@@
@@@@((((((((((((((((((((((((((((((((((((((((((((((((((((((((@@@,,,,,,,,,,****@@@
@@@(((((((((((((((((((((((((((((((((((((((((((((((((((((((((@@@,,,,,,,,********@
@@((((((((((((((((((((((((((((((((((((((((((((((((((((((((((@@@,,,,,************
@((((((((((((((((((((((((((((((((((((((((((((((((((((((((((@@@,,,,**************
@(((((((((((((((((((((((((((((((((((((((((((((((((((((((((@@@*,*****************
(((((((((((((((((((((((((((((((((((((((((((((((((((((((@@@@@,*******************
((((((((((((((((((((((((@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@,,*********************
(((((((((((((((((((((@@@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,************************
@(((((((((((((((((((@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,**************************
@((((((((((((((((((@@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,,*****************************
@@(((((((((((((((((@@,,,,,,,,,,,,,,,,,,,,,,,,,,,,******************************@
@@@((((((((((((((((@@,,,,,,,,,,,,,,,,,,,,,,,,,,*******************************@@
@@@@(((((((((((((((@@,,,,,,,,,,,,,,,,,,,,,,,*********************************@@@
@@@@@@(((((((((((((@@,,,,,,,,,,,,,,,,,,,,,********************************@@@@@@
@@@@@@@@@@@@@@@@@@@@@,,,,,,,,,,,,,,,,,,**@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@,,,,,,,,,,,,,,,,***********************@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@,,,,,,,,,,,,,,*************************@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@,,,,,,,,,,,*****************(@@@@******@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@,,,,,,,,,******************@@@@@@@*****@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@,,,,,**********************@@@@@******@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@/,**********************************@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@****************************@@@@@@@@@@@@@@@@@@@@@@@@@

        </pre>

        <p>Congratulations, here's the flag to give to Dave!</p>
        <pre>7cbb8b7f3ec73ce6716fedaa4d63f6ce</pre>

    {% endif %}

</body>
</html>

